body{
    overflow: auto;
}
.wrapper{
    transition: .7s ease all;
    display: inline-flex;
    vertical-align: middle;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    &--active{
        cursor: pointer;
        transform: rotateY(180deg)
    }
    &--hide_black-numbers{
        transform: translateX(-400%);
    }
    &--hide_black-after10{
        transform: translateX(400%);
    }
    &--hide_red-numbers{
        transform: translateY(-400%);
    }
    &--hide_red-after10{
        transform: translateY(400%);
    }
}
.card{
    transform: rotateY(180deg);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 140px;
    height: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &--red{
        color:red;
    }
&__background{
    border-radius: 10px;
    backface-visibility: hidden;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    }
}
.card .top-symbol{
    display: block;
    font-size: 25px;
}
.top-value{
   position: absolute;
   top: 10px;
   left: 3px;

    font-size: 21px;
    line-height: 90%;
}
.bottom-symbol{
    font-size: 25px;
    display: block;
}
.bottom-value{
    transform: rotateX(180deg);
    padding-right: 5px;
    position: absolute;
    bottom: 10px;
    right: 2px;

    font-size: 21px;
    line-height: 90%;
}
.middle-value{

    font-size: 2.5em;
    align-items: center;
    height: 170px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & div{
        text-align: center;
        width: 50%;
    }
    &__absolute-top{
        position: absolute;
        top: 25%;
        left: 25%;
    }
    &__absolute-bottom{
        position: absolute;
        top: 55%;
        left: 25%;
    }
    &__after10{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 80px;
    }
}